{{- if and .Values.postgres.enabled (not .Values.global.onlyConfig) -}}
apiVersion: v1
kind: Service
metadata:
  name: postgres-coordinator
  labels:
    {{- include "tis-stack.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.postgres.service.port }}
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    {{- include "tis-stack.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgres-coordinator
{{- end }}
