{{- if and .Values.redis.enabled .Values.redis.persistence.enabled (not .Values.global.onlyConfig) -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "tis-stack.fullname" . }}-redis-pvc
  labels:
    {{- include "tis-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  accessModes:
    - {{ .Values.redis.persistence.accessMode }}
  resources:
    requests:
      storage: {{ .Values.redis.persistence.size }}
  storageClassName: {{ .Values.global.storageClass }}
{{- end }}
