apiVersion: v1
kind: Secret
metadata:
  name: tis-app-secrets
  labels:
    {{- include "tis-stack.labels" . | nindent 4 }}
type: Opaque
stringData:
  postgres-password: {{ required "A valid .Values.postgres.auth.password is required!" .Values.postgres.auth.password | quote }}

  redis-password: {{ required "A valid .Values.redis.auth.password is required!" .Values.redis.auth.password | quote }}

  AWS_ACCESS_KEY_ID: {{ required "AWS Access Key required!" .Values.global.aws.accessKeyId | quote }}
  AWS_SECRET_ACCESS_KEY: {{ required "AWS Secret Key required!" .Values.global.aws.secretAccessKey | quote }}
