{{- if and .Values.langflow.enabled .Values.langflow.persistence.enabled (not .Values.global.onlyConfig) -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "tis-stack.fullname" . }}-langflow-flows-pvc
  labels:
    {{- include "tis-stack.labels" . | nindent 4 }}
spec:
  accessModes: [ "ReadWriteOnce" ]
  storageClassName: {{ .Values.global.storageClass }}
  resources:
    requests:
      storage: {{ .Values.langflow.persistence.flows.size }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "tis-stack.fullname" . }}-langflow-logs-pvc
  labels:
    {{- include "tis-stack.labels" . | nindent 4 }}
spec:
  accessModes: [ "ReadWriteOnce" ]
  storageClassName: {{ .Values.global.storageClass }}
  resources:
    requests:
      storage: {{ .Values.langflow.persistence.logs.size }}
{{- end }}
