{{- if and .Values.pgbouncer.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: pgbouncer-config
  labels:
    {{- include "tis-stack.labels" . | nindent 4 }}
data:
  PGBOUNCER_IMAGE: {{ .Values.pgbouncer.image.originalName | quote }}
  PGBOUNCER_BUILT_IMAGE: "{{ .Values.pgbouncer.image.repository }}:{{ .Values.pgbouncer.image.tag }}"
  PGBOUNCER_SERVICE: "pgbouncer"
  PGBOUNCER_PORT: {{ .Values.pgbouncer.service.port | quote }}
  PGBOUNCER_REDIRECT_PORT: {{ .Values.pgbouncer.service.redirectPort | quote }}
  PGBOUNCER_VERSION: {{ .Values.global.versions.pgbouncer | quote }}
  POOL_MODE: {{ .Values.pgbouncer.pool.mode | quote }}
  MAX_CLIENT_CONN: {{ .Values.pgbouncer.pool.max_client_conn | quote }}
  DEFAULT_POOL_SIZE: {{ .Values.pgbouncer.pool.default_pool_size | quote }}
{{- end }}
